

/* RESET */

*{
-webkit-font-smoothing:antialiased;
-webkit-box-sizing:border-box;
font-smoothing:antialiased;
-moz-box-sizing:border-box;
box-sizing:border-box;
font-size:100%;
padding:0;
margin:0;
border:0;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
a{
text-decoration:none;
}


/* iOS MOBILE (ENLARGED TEXT) FIX */

body{
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:none;
background:#fff;
}


/* FONT STYLES */

h1,h2{
font-family:"Open Sans","Helvetica Neue",sans-serif;
}
h1{
line-height:3.75rem;
font-size:2.55rem;
}
h2{
text-transform:uppercase;
font-size:1.45rem;
}
p,li,a{
font-family:Calibri,"Helvetica Neue",sans-serif;
line-height:1.75rem;
font-size:1.05rem;
}


/* BACKGROUND */

.background{
background:url(../images/blue-bg.jpg) center top repeat #2498d1;
margin:15px 15px 0 15px;
overflow:auto;
}


/* HEADER */

header{
margin:65px auto 0;
width:960px;
}
header .logo{
position:relative;
overflow:hidden;
width:42px;
fill:#fff;
}
header nav{
margin-top:21px;
float:right;
}
header nav a{
display:inline-block;
margin-right:45px;
overflow:hidden;
height:19px;
width:19px;
}
header nav a svg{
fill:#fff;
}
header nav a:hover svg{
fill:#def0f8;
}
header nav a:last-child{
margin:0;
}
.down-1{
position:relative;
display:block;
}


/* HERO */

.hero{
margin:287px auto 0;
width:960px;
}
.hero h1{
width:760px;
color:#fff;
}
.hero h1:nth-child(n+2){
margin-top:14px;
}
.hero p{
margin-top:18px;
color:#fff;
}
.hero p a{
font-weight:700;
color:#fff;
}
.hero p a:hover{
color:#def0f8;
}
.down-2{
position:relative;
display:block;
}


/* WORK */

.work{
margin:125px auto;
width:960px;
}
.work ul li{
display:inline-block;
width:32.166667%;
}
.work ul li:nth-child(n+2){
margin-left:1.75%;
}
.work ul li:nth-child(n+4){
margin-top:1.5%;
}
.work ul li:nth-child(3n+1){
margin-left:0;
}
.work ul li img{
display:block;
height:auto;
width:100%;

-webkit-box-shadow:0px 0px 25px 0px rgba(68,68,68,.25);
-moz-box-shadow:0px 0px 25px 0px rgba(68,68,68,.25);
box-shadow:0px 0px 25px 0px rgba(68,68,68,.25);
}
.work ul li a{
background:#fff;
display:block;
}
.work ul li a:hover img{
opacity:.92;
}
.down-3{
position:relative;
display:block;
}


/* ABOUT */

.about{
margin:125px auto 0;
padding:40px 0;
width:960px;
}
.about h2,.about p{
max-width:430px;
}
.about h2{
color:#444;
}
.about p{
margin-top:24px;
color:#444;
}
.about p a,.about p span{
font-weight:700;
color:#2498d1;
}
.about p a:hover,.about p span:hover{
cursor:pointer;
color:#45a7d8;
}
.email-image{
background:url(../images/email-bg.svg) center no-repeat;
text-indent:-9999px;
margin-top:-281px;
height:321px;
float:right;
width:430px;
}
.email-image:hover{
cursor:pointer;
opacity:.85;
}


/* FOOTER */

.footer-wrapper{
overflow:auto;
clear:both;
}
footer{
margin:125px auto 65px;
width:960px;
}
footer p{
color:#444;
}
footer p a{
font-weight:700;
color:#2498d1;
}
footer p a:hover{
color:#45a7d8;
}
footer ul{
margin-top:-27px;
float:right;
}
footer ul li{
display:inline-block;
margin-right:45px;
}
footer ul li:last-child{
margin:0;
}
footer ul li a{
overflow:hidden;
display:block;
height:19px;
width:19px;
}
footer ul li a svg{
fill:#2498d1;
}
footer ul li a:hover svg{
fill:#45a7d8;
}


/* FORM */

.form-wrapper{
background:rgba(36,152,209,.85);
position:fixed;
height:100%;
width:100%;
left:0;
top:0;
}
.form{
margin:-353px 0 0 -277px;
position:absolute;
width:555px;
z-index:2;
left:50%;
top:50%;
}
.white{
background:url(../images/form-bg.svg) 465px 25px no-repeat #fff;
padding:70px 70px 75px;

-webkit-box-shadow:0 0 45px 15px rgba(36,152,209,.25);
-moz-box-shadow:0 0 25px 15px rgba(36,152,209,.25);
box-shadow:0 0 25px 15px rgba(36,152,209,.25);
}
.form h2{
color:#444;
}
.form p{
margin-top:25px;
color:#444;
}
.form p a{
font-weight:700;
color:#2498d1;
}
.form p a:hover{
color:#45a7d8;
}
.form ul{
margin-top:60px;
}
.form ul li{
vertical-align:middle;
display:inline-block;
margin-top:25px;
width:100%;
}
.form ul li:first-child{
margin-top:0;
}
.name,.subject,.body{
border-bottom:1px solid #666;
font-size:.95rem;
padding:10px 0;
width:100%;
}
.name::-webkit-input-placeholder,.subject::-webkit-input-placeholder,.body::-webkit-input-placeholder{
color:#444;
}
.name:-moz-placeholder,.subject:-moz-placeholder,.body:-moz-placeholder{
color:#444;
}
.name::-moz-placeholder,.subject::-moz-placeholder,.body::-moz-placeholder{
color:#444;
}
.name:focus,.subject:focus,.body:focus{
border-bottom:1px solid #2498d1;
color:#2498d1;
outline:0px;
}
.name:focus::-webkit-input-placeholder,.subject:focus::-webkit-input-placeholder,.body:focus::-webkit-input-placeholder{
color:#2498d1;
}
.name:focus:-moz-placeholder,.subject:focus:-moz-placeholder,.body:focus:-moz-placeholder{
color:#2498d1;
}
.name:focus::-moz-placeholder,.subject:focus::-moz-placeholder,.body:focus::-moz-placeholder{
color:#2498d1;
}
.body{
min-height:150px;
max-height:150px;
overflow:hidden;
max-width:100%;
resize:none;
}
.send{
background:#2498d1;
text-align:center;
font-weight:700;
padding:10px 0;
display:block;
color:#fff;
}
.send:hover{
background:#52aad7;
cursor:pointer;
}
.close-hr{
position:absolute;
z-index:1;
bottom:0;
right:0;
left:0;
top:0;
}


/* ANIMATIONS */

.hidden-down{
opacity:0;
top:-45px;
}
.show-down{
opacity:1;
top:0;

-webkit-transition:all .75s;
-moz-transition:all .75s;
transition:all .75s;
}
.no-blur{
-webkit-filter:blur(0px);
-moz-filter:blur(0px);
filter:blur(0px);
}
.blur{
-webkit-filter:blur(7px);
-moz-filter:blur(7px);
filter:blur(7px);
}
.unfreeze{
overflow:auto;
height:auto;
}
.freeze{
overflow:hidden;
height:100%;
}
.form-hidden{
display:none;
}
.form-show{
display:block;
}


/* ADDITIONAL STYLES */

.period{
margin-left:1px;
display:inline;
}
.blue{
color:#2498d1;
}


/* BLUE: #2498d1, LIGHTER BLUE: #def0f8 */

