

/* RESET */

*{
-webkit-font-smoothing:antialiased;
-webkit-box-sizing:border-box;
font-smoothing:antialiased;
-moz-box-sizing:border-box;
box-sizing:border-box;
font-size:100%;
padding:0;
margin:0;
border:0;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
a{
text-decoration:none;
}


/* iOS MOBILE (ENLARGED TEXT) FIX */

body{
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:none;
}


/* FONT STYLES */

h1,h2{
font-family:"Open Sans",sans-serif;
}
h1{
line-height:2.2rem;
font-size:1.45rem;
}
h2{
text-transform:uppercase;
font-size:1.45rem;
}
p,li,a{
font-family:Calibri,sans-serif;
line-height:1.7rem;
font-size:1.05rem;
}


/* BACKGROUND */

.background{
background:url(../assets/blue-bg.svg) center no-repeat #41a3d6;
background-size:cover;
margin:7px 7px 0;
overflow:auto;
}


/* HEADER */

header{
padding:25px 0 0;
margin:0px auto;
width:85%;
}
header a .logo{
width:35px;
fill:#fff;
}
header nav{
margin-top:17px;
float:right;
}
header nav a{
display:inline-block;
margin-right:30px;
overflow:hidden;
height:19px;
width:19px;
}
header nav a svg{
fill:#fff;
}
header nav a:last-child{
margin:0;
}


/* HERO */

.hero{
margin:100px auto 0;
width:85%;
}
.hero h1{
color:#fff;
}
.hero h1:nth-child(n+2){
margin-top:10px;
}
.hero p{
margin-top:18px;
color:#fff;
}
.hero p a{
font-weight:700;
color:#fff;
}


/* WORK */

.work{
margin:50px auto 0;
padding:0 0 50px;
width:85%;
}
.work ul li{
display:block;
}
.work ul li:nth-child(n+2){
margin-top:7px;
}
.work ul li a{
background:#fff;
display:block;
}
.work ul li img,.work ul li a img{
display:block;
height:auto;
width:100%;
}


/* ABOUT */

.about{
margin:45px auto 0;
width:82.75%;
}
.about h2{
color:#444;
}
.about p{
margin-top:24px;
color:#444;
}
.about p a{
font-weight:700;
color:#41a3d6;
}
.about p br,.email-image{
display:none;
}


/* FOOTER */

footer{
margin:50px auto 25px;
width:82.75%;
}
footer p{
color:#444;
}
footer ul{
margin-top:13px;
}
footer ul li{
display:inline-block;
margin-right:30px;
}
footer ul li:last-child{
margin:0;
}
footer ul li a{
overflow:hidden;
display:block;
height:19px;
width:19px;
}
footer ul li a svg{
fill:#41a3d6;
}


/* ADDITIONAL STYLES */

.period{
margin-left:1px;
display:inline;
}
.blue{
color:#41a3d6;
}


@media (min-width:380px){


/* FOOTER */

footer ul{
margin-top:-23px;
float:right;
}


}


@media (min-width:520px){


/* FONTS */

h1{
line-height:2.65rem;
font-size:1.75rem;
width:100%;
}


/* BACKGROUND */

.background{
background:url(../assets/blue-bg.svg) center no-repeat #41a3d6;
background-size:cover;
margin:11px 11px 0;
}


/* HEADER */

header{
padding:50px 0 0;
}
header nav a{
margin-right:40px;
}


/* HERO */

.hero{
margin:150px auto 0;
}


/* WORK */

.work{
margin:90px auto 0;
padding:0 0 100px;
width:85%;
}
.work ul li{
display:inline-block;
width:48.75%;
}
.work ul li:nth-child(odd){
margin-right:2.5%;
}
.work ul li:nth-child(n+3){
margin-top:1.75%;
}
.work ul li a{
background:#fff;
display:block;
}
.work ul li img,.work ul li a img{
display:block;
height:auto;
width:100%;

-webkit-box-shadow:0px 0px 25px 0px rgba(68,68,68,.2);
-moz-box-shadow:0px 0px 25px 0px rgba(68,68,68,.2);
box-shadow:0px 0px 25px 0px rgba(68,68,68,.2);
}


/* ABOUT */

.about{
margin:80px auto 0;
width:82.25%;
}


/* FOOTER */

footer{
margin:75px auto 50px;
width:82.25%;
}
footer ul li{
margin-right:40px;
}


}


@media (min-width:680px){


/* BACKGROUND */

.background{
margin:17px 17px 0;
}


/* HERO */

.hero h1{
max-width:560px;
}


/* WORK */

.work ul li{
display:inline-block;
width:48.5%;
}
.work ul li:nth-child(odd){
margin-right:2.75%;
}
.work ul li:nth-child(n+3){
margin-top:2.1%;
}


/* ABOUT */

.about{
width:81.2%;
}


/* FOOTER */

footer{
width:81.2%;
}


}


@media (min-width:760px){


/* ABOUT */

.about{
padding:40px 0;
}
.about p{
max-width:430px;
}
.about p br{
display:inline;
}
.email-image{
background:url(../assets/email-bg-tall.svg) center no-repeat;
text-indent:-9999px;
margin-top:-277px;
display:block;
height:317px;
float:right;
width:29%;
}


}


@media (min-width:880px){


/* FONTS */

h1{
font-size:2.15rem;
line-height:3.25rem;
}


/* HERO */

.hero h1{
max-width:680px;
}


/* WORK */

.work ul li{
display:inline-block;
width:48.75%;
}
.work ul li:nth-child(odd){
margin-right:2.5%;
}
.work ul li:nth-child(n+3){
margin-top:2%;
}


/* ABOUT */

.about{
padding:40px 0;
width:82.25%;
}
.about p{
max-width:430px;
}
.about p br{
display:inline;
}
.email-image{
background:url(../assets/email-bg-wide.svg) center no-repeat;
width:37%;
}


/* FOOTER */

footer{
width:82.25%;
}


}


@media (min-width:980px){


/* BACKGROUND */

.background{
background:linear-gradient(45deg,#3c4fa8,#3ad6ed,#3c4fa8);
background-size:280% 280%;

-webkit-animation:sliding-gradient 120s ease infinite;
-moz-animation:sliding-gradient 120s ease infinite;
animation:sliding-gradient 120s ease infinite;
}
@-webkit-keyframes sliding-gradient{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@-moz-keyframes sliding-gradient{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
@keyframes sliding-gradient{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}


/* WORK */

.work ul li{
width:32.05%;
}
.work ul li:nth-child(odd),.work ul li:nth-child(n+3){
margin:0;
}
.work ul li:nth-child(n+2){
margin-left:1.9%;
}
.work ul li:nth-child(n+4){
margin-top:1.65%;
}
.work ul li:nth-child(3n+1){
margin-left:0;
}


/* ABOUT */

.about{
width:82.5%;
}


/* FOOTER */

footer{
width:82.5%;
}


/* ANIMATIONS */

.down-1,.down-2,.down-3{
position:relative;
display:block;
}
.hidden-down{
opacity:0;
top:-30px;
}
.show-down{
opacity:1;
top:0;

-webkit-transition:all .75s;
-moz-transition:all .75s;
transition:all .75s;
}


}


@media (min-width:1080px){


/* FONT STYLES */

h1{
line-height:3.7rem;
font-size:2.55rem;
}


/* HEADER */

header{
padding:65px 0 0;
max-width:960px;
}


/* HERO */

.hero{
margin:250px auto 0;
max-width:960px;
}
.hero h1{
max-width:760px;
}


/* WORK */

.work{
margin:115px auto 0;
padding:0 0 125px;
max-width:960px;
}


/* ABOUT */

.about{
margin:125px auto 0;
max-width:960px;
}
.email-image{
width:430px;
}


/* FOOTER */

footer{
margin:115px auto 65px;
max-width:960px;
}


}


/* BLUE: #41a3d6 */

