

/* RESET */

*{
-webkit-font-smoothing:antialiased;
font-smoothing:antialiased;
font-size:100%;
padding:0;
margin:0;
border:0;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
a{
text-decoration:none;
}


/* FONT STYLES */

h1{
font-family:"Open Sans","Helvetica Neue",sans-serif;
font-size:2.2rem;
line-height:150%;
}
h2{
font-family:"Open Sans","Helvetica Neue",sans-serif;
font-size:1.7rem;
line-height:150%;
}
h3{
font-family:"Open Sans","Helvetica Neue",sans-serif;
font-size:1.15rem;
line-height:150%;
}
p,li{
font-family:"Open Sans","Helvetica Neue",sans-serif;
font-size:.95rem;
line-height:190%;
}


/* HEADER */

header{
margin:107px auto 0px;
width:960px;
}
header .logo{
position:relative;
display:block;
width:203px;
top:0px;

-webkit-transition:top .25s;
-moz-transition:top .25s;
transition:top .25s
}
header .logo img{
display:block;
}
header .logo:hover{
opacity:.85;
top:-4px;
}
header nav{
margin-top:-65px;
float:right;
}
header nav ul li{
display:inline-block;
margin-left:35px;
}
header nav ul li:first-child{
margin-left:0px;
}
header nav ul li:last-child{
margin:0px -8px 0px 30px;
}
header nav ul li a{
color:#00a2c5;
}
header nav ul li a:hover{
color:#40b9d4;
}
header nav ul .open-search i{
position:relative;
font-size:1.5em;
color:#00a2c5;
top:2px;
}
header nav ul .open-search i:hover{
cursor:pointer;
color:#40b9d4;
}


/* DESCRIPTION */

.description-wrapper{
background:url(../images/dog-red.jpg) no-repeat center #ee5152;
background-size:cover;
margin:110px 0px 0px;
width:100%;
}
.description-wrapper section{
padding:100px 0px 115px;
margin:0px auto;
width:960px;
}
.description-wrapper section h1{
text-align:center;
color:#fff;
}
.description-wrapper section p{
text-align:center;
margin-top:27px;
color:#fce5e5;
}
.description-wrapper section .button{
background:#00a2c5;
color:#fff;
}
.description-wrapper section .button:hover{
background:#1aabcb;
color:#fff;
}
.description-wrapper section .button:first-child{
margin-right:10px;
}
.description-wrapper section .button:last-child{
margin-left:10px;
}


/* MISSION */

.mission{
background:url(../images/mission.jpg) no-repeat;
background-position:left 4px;
margin:110px auto 0px;
padding:55px 0px;
width:960px;

-webkit-transition:background-position .25s;
-moz-transition:background-position .25s;
transition:background-position .25s;
}
.mission:hover{
background-position:left 0px;
}
.mission h2{
margin:0px 0px 0px 415px;
color:#ee5152;
}
.mission h2 i{
margin:0px 0px 0px -4px;
}
.mission p{
margin:27px 0px 0px 415px;
color:#a7a7a7;
}
.mission p a{
color:#00a2c5;
}
.mission p a:hover{
color:#40b9d4;
}
.mission p a span{
position:relative;
font-size:1.1em;
right:0px;
top:2px;

-webkit-transition:right .25s;
-moz-transition:right .25s;
transition:right .25s;
}
.mission p a:hover span{
right:-4px;
}


/* ADOPTIONS */

.adoptions{
background:url(../images/adoptions.jpg) no-repeat;
background-position:right 4px;
margin:110px auto 0px;
padding:55px 0px;
width:960px;

-webkit-transition:background-position .25s;
-moz-transition:background-position .25s;
transition:background-position .25s;
}
.adoptions:hover{
background-position:right 0px;
}
.adoptions h2{
margin:0px 415px 0px 0px;
color:#ee5152;
}
.adoptions h2 i{
margin:0px 0px 0px -4px;
}
.adoptions p{
margin:27px 415px 0px 0px;
color:#a7a7a7;
}
.adoptions p a{
color:#00a2c5;
}
.adoptions p a:hover{
color:#40b9d4;
}
.adoptions p a span{
position:relative;
font-size:1.1em;
right:0px;
top:2px;

-webkit-transition:right .25s;
-moz-transition:right .25s;
transition:right .25s;
}
.adoptions p a:hover span{
right:-4px;
}


/* DONATIONS */

.donations-wrapper{
background:url(../images/kitten-red.jpg) no-repeat center #ee5152;
background-size:cover;
margin:120px 0px 0px;
width:100%;
}
.donations-wrapper section{
padding:105px 0px 120px;
margin:0px auto;
width:960px;
}
.donations-wrapper section h1{
text-align:center;
color:#fff;
}
.donations-wrapper section p{
text-align:center;
margin-top:27px;
color:#fce5e5;
}
.donations-wrapper section .button{
background:#00a2c5;
color:#fff;
}
.donations-wrapper section .button:hover{
background:#1aabcb;
cursor:pointer;
color:#fff;
}


/* FOOTER */

footer{
margin:110px auto;
width:960px;
}
footer ul li{
display:inline-block;
margin-right:35px;
font-size:.95em;
color:#a7a7a7;
}
footer ul li a{
color:#00a2c5;
}
footer ul li a:hover{
color:#40b9d4;
}
footer .icons{
margin-top:-32px;
float:right;
}
footer .icons li{
margin:0px 0px 0px 15px;
display:inline-block;
}
footer .icons li:first-child{
margin-left:0px;
}
footer .icons li i{
margin:0px -8px;
display:block;
}
footer .icons li a{
position:relative;
font-size:2.5em;
top:0px;

-webkit-transition:top .25s;
-moz-transition:top .25s;
transition:top .25s;
}
footer .icons li a:hover{
top:-4px;
}


/* SEARCH */

.search-wrapper{
background:rgba(0,162,187,.97);
position:fixed;
height:100%;
width:100%;
z-index:2;
left:0;
top:0;
}
.search-wrapper section{
margin:-76px 0px 0px -237px;
position:relative;
width:475px;
left:50%;
top:50%;
}
.search-wrapper section h2{
text-align:center;
color:#fff;

-webkit-text-shadow:0px 0px 10px #00829e;
-moz-text-shadow:0px 0px 10px #00829e;
text-shadow:0px 0px 10px #00829e;
}
.search-wrapper section form{
margin:20px 0px 0px;
}
.search-wrapper section form input[type=text]{
padding:15px 40px 15px 15px;
border-radius:5px;
color:#00a2c5;
width:100%;

-webkit-box-shadow:0px 0px 10px #008aa8;
-moz-box-shadow:0px 0px 10px #008aa8;
box-shadow:0px 0px 10px #008aa8
}
.search-wrapper section form input[type=text]:focus{
outline:0px;
}
.search-wrapper section form input[type=submit]{
display:none;
}
.search-wrapper section p{
margin:20px 0px 0px;
text-align:center;
color:#d9f1f6;

-webkit-text-shadow:0px 0px 10px #00829e;
-moz-text-shadow:0px 0px 10px #00829e;
text-shadow:0px 0px 10px #00829e;
}
.search-close{
position:absolute;
display:block;
right:5px;
top:72px;
}
.search-close i{
font-size:1.5em;
color:#00a2c5;
}
.search-close:hover{
cursor:pointer;
}
.search-close:hover i{
color:#40b9d4;
}


/* OTHER STYLES */

.no-show{
display:none;
}
.show{
display:block;
}
.button{
display:inline-block;
margin:13px auto 0px;
border-radius:8px;
padding:11px 28px;
position:relative;
font-size:1em;
top:0px;

-webkit-transition:top .25s;
-moz-transition:top .25s;
transition:top .25s;
}
.button:hover{
top:-4px;
}

