

/* RESET */

*{
-webkit-font-smoothing:antialiased;
-webkit-box-sizing:border-box;
font-smoothing:antialiased;
-moz-box-sizing:border-box;
box-sizing:border-box;
font-size:100%;
padding:0;
margin:0;
border:0;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}
a{
text-decoration:none;
}


/* iOS MOBILE (ENLARGED TEXT) FIX */

body{
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:none;
}


/* FONT STYLES */

h1,h2{
font-family:"Open Sans",sans-serif;
}
h1{
font-size:1.9rem;
line-height:3rem;
}
h2{
text-transform:uppercase;
font-size:1.45rem;
}
p,li,a{
font-family:Calibri,sans-serif;
line-height:1.7rem;
font-size:1.05rem;
}


/* BACKGROUND */

body{
margin:17px 17px 0;
}
.background{
background:url(../assets/blue-bg.svg) center no-repeat #41a3d6;
background-size:cover;
overflow:auto;
}


/* HEADER */

header{
margin:65px auto 0;
max-width:1010px;
width:80%;
}
.logo{
width:35px;
fill:#fff;
}
.logo:hover{
opacity:.8;
}
header nav{
margin-top:17px;
float:right;
}
header nav a{
display:inline-block;
margin-right:40px;
overflow:hidden;
height:19px;
width:19px;
}
header nav a:last-child{
margin:0
}
header nav a svg{
fill:#fff;
}
header nav a:hover svg{
opacity:.8;
}


/* HERO */

.hero{
margin:250px auto 0;
max-width:1010px;
width:80%;
}
.hero h1{
color:#fff;
}
.hero h1:nth-child(n+2){
margin-top:12px;
}
.hero p{
margin-top:16px;
color:#fff;
}
.hero p a{
font-weight:700;
color:#fff;
}
.hero p a:hover{
opacity:.8;
}


/* WORK */

.work{
margin:115px 0 105px;
position:relative;
}
.work ul{
padding:0 34px 15px;
white-space:nowrap;
overflow-x:scroll;
margin:0;
}
.work ul li{
display:inline-block;
margin:0;
}
.work ul li:nth-child(n+2){
margin-left:34px;
}
.work ul li img,.work ul li a img{
-webkit-box-shadow:0 0 25px 0 rgba(68,68,68,.15);
-moz-box-shadow:0 0 25px 0 rgba(68,68,68,.15);
box-shadow:0 0 25px 0 rgba(68,68,68,.15);
}
.work ul li a:hover img{
opacity:.9;
}


/* ABOUT */

.about{
margin:125px auto 0;
max-width:1010px;
padding:65px 0;
width:80%;
}
.about h2{
color:#454545;
}
.about p{
margin-top:24px;
max-width:475px;
color:#454545;
}
.about p a{
font-weight:700;
color:#41a3d6;
}
.about p a:hover{
opacity:.8
}
.icons{
margin-top:-307px;
float:right;
}
.icons li{
text-indent:-9999px;
position:relative;
display:block;
}
.icons li:hover{
opacity:.8
}
.photo{
background:url(../assets/icons/photo.svg) center no-repeat;
background-size:contain;
height:84.9px;
width:84.9px;
right:82px;
}
.website{
background:url(../assets/icons/website.svg) center no-repeat;
background-size:contain;
margin-top:23px;
width:84.9px;
height:67px;
right:193px;
}
.content{
background:url(../assets/icons/content.svg) center no-repeat;
background-size:contain;
margin-top:23px;
height:84.9px;
width:84.9px;
right:286px;
}
.video{
background:url(../assets/icons/video.svg) center no-repeat;
background-size:contain;
margin-top:23px;
width:84.9px;
height:67px;
right:396px;
}


/* FOOTER */

footer{
margin:125px auto 65px;
max-width:1010px;
width:80%;
}

footer p{
color:#454545;
}
footer ul{
margin-top:-23px;
float:right;
}
footer ul li{
display:inline-block;
margin-right:40px;
}
footer ul li:last-child{
margin:0;
}
footer ul li a{
overflow:hidden;
display:block;
height:19px;
width:19px;
}
footer ul li a svg{
fill:#41a3d6;
}
footer ul li a:hover svg{
opacity:.8;
}


/* ADDITIONAL */

.period{
margin-left:1px;
display:inline;
}
.blue{
color:#41a3d6;
}
.slide-in-1,.slide-in-2,.slide-in-3{
position:relative;
display:block;
}
.hidden-slide-in{
opacity:0;
top:-30px;
}
.show-slide-in{
opacity:1;
top:0;

-webkit-transition:all .75s;
-moz-transition:all .75s;
transition:all .75s;
}

